#BottonBoard{
	position: absolute;
	top: 1vh;
	left: 9vw;
	height: 10vw;
	font-size: 2vw;
	text-align: center;
}
a{
	display: inline-block;
	height: 4vw;
	width: 8.5vw;
	position: relative;
	top: 3vw;
	text-decoration: none;
	color: #D3DBEB;
	background: transparent;
	border:  dashed;
	border-color: beige;
	border-width: 0.1vw;
	border-radius: 1vw;
	padding: 0.8vw 0 0 0 ;
}